<div class="modal-body align-content-center" id="modalSimulatorBody">
    <div class="form-group">
        <span>{{ 'modal.travel.type' | trans }} : </span><br><span class="col-md-10" id="modal_travel_type"></span>
    </div>
    <div class="form-group">
        <span>{{ 'modal.travel.from' | trans }} : </span><br><span class="col-md-10" id="modal_travel_from"></span>
    </div>
    <div class="form-group">
        <span>{{ 'modal.travel.to' | trans }} : </span><br><span class="col-md-10" id="modal_travel_to"></span>
    </div>
    <div class="form-group">
        <span>{{ 'modal.passenger' | trans }} : </span><br><span class="col-md-10" id="modal_passenger"></span>
    </div>
    <div class="form-group" id="modalAdditionalFeeDiv">
        <span>{{ 'modal.additional.fee' | trans }} : </span><br><span class="col-md-10"
                                                                      id="modal_additional_fee"></span>
    </div>
    <div class="form-group">
        <h2>{{ 'modal.price' | trans }}</h2>
        <span>{{ 'modal.information.price' | trans }}</span>
        <h3
                id="modal_price"></h3>
    </div>
    <input hidden="hidden" id="price" name="price">
</div>