<div class="modal fade modal-lg" id="SimulatorError" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalSimulator">{{ 'Recap' | trans }}</h5>
            </div>
            <div class="modal-body align-content-center" id="modalSimulatorError">
                <div class="form-group">
                    <p>{{ 'error.price' | trans }} </p>
                    <p>{{ 'error.contact' | trans }}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" id="simulatorErrorCloseModal"
                        type="button">{{ 'Close' | trans }}
                </button>
            </div>
        </div>
    </div>
</div>

