{% extends 'base.html.twig' %}


{% block body %}
    <header class="masthead">
    </header>
    <article class="container p-md-4 container" >
        <div class="text-start">
            <h2 class="text-uppercase my-md-3">Conditions générales - Spero Navette</h2>
            <ol class = "order-md-2">
                <li>Si la méthode de paiement choisie par le client est le règlement en espèces au chauffeur ou via paiement Bancontact, celui-ci se fera lors de la prise en charge. Si vous optez pour le paiement après réception de la facture, elle sera envoyée à votre retour. Si celle-ci n’est pas honorée 30 jours après la date de facturation, le montant sera majoré de 10% avec un montant minimum de 20€.</li>
                <li>Toutes les plaintes ou réclamations doivent être envoyées par courrier recommandé au plus tard 7 jours après la date de la facture.</li>
                <li>Le transport a lieu sous la responsabilité du client, spero-navette.be mettra en œuvre tous les moyens pour vous déposer à temps à votre destination.</li>
                <li>Toute réservation vaut acceptation de nos conditions générales.</li>
                <li>Il est possible que d’autres voyageurs que vous soient pris en charge lors de la même course. Si tel est le cas, une remise de 10% sur votre trajet vous sera octroyée. La veille de votre prise en charge, nous vous confirmons l’heure de rendez-vous afin de faire correspondre le timing pour tous les voyageurs concernés. Ainsi, il se peut que pour des raisons pratiques, nous avancions ou reculions l’horaire prévu lors de la réservation. Dans tous les cas, nous nous assurerons de vous déposer en temps et en heure à votre destination.</li>
                <li>Pour les retours, il est également possible qu’une combinaison se fasse en fonction d’éventuels autres voyageurs pour peu que les vols correspondent à moins de 45 minutes d’intervalle. Dans tous les cas, nous essayons de vous faire subir le moins d’attente possible.</li>
                <li>L’annulation au plus tard 48 heures avant la prise en charge est gratuite. En cas d’annulation dans les 24 heures, la moitié du montant sera facturée avec un montant minimum de 25€. Le montant total vous sera réclamé en cas d’annulation moins de 12 heures avant la prise en charge.</li>
                <li>Spero-navette.be ne peut pas être tenu responsable des retards, modifications ou annulations du service dus à un cas de force majeure ou à d’autres circonstances imprévisibles, mais tout sera mis en œuvre pour respecter les timings prévus.</li>
                <li>Le client est prié de prévenir spero-navette.be au cas où les bagages ne sont pas délivrés 1 heure après l’heure d’atterrissage ou si quelque problème que ce soit empêche le client d’être dans le hall des arrivées endéans l’heure suivant l’atterrissage.</li>
                <li>Nous demandons au client un numéro de téléphone portable où il est toujours joignable. Ceci pour des raisons pratiques (par exemple: des questions du conducteur qui est sur le chemin, des questions sur l’état de la livraison des bagages lors d’un voyage de retour …). Si le client est injoignable après l’atterrissage, le chauffeur attendra au maximum 1 heure. Le montant total de la course sera dû.</li>
                <li>Nous donnerons toujours priorité aux départs si votre retour est en retard ou en avance. Dans tous les cas, nous ferons notre maximum pour vous éviter du temps d’attente.</li>
                <li>Si vous nous fournissez des données incorrectes (par exemple, heure de départ de l’étranger plutôt que l’heure d’arrivée en Belgique), nous ne pouvons pas garantir la disponibilité d’un chauffeur.</li>
                <li>Les sièges auto, sièges enfants et maxi-cosi sont mis à disposition gratuitement. Ceux-ci doivent être demandés à l’avance et restitué dans l’état dans lequel il a été mis à disposition. Si celui-ci est sale ou dégradé, le montant de remise en état vous sera réclamé avec un minimum de 50€.</li>
                <li>Les animaux voyagent dans les mêmes conditions que dans un avion : dans leur cage et dans le coffre de la camionnette.</li>
                <li>Nos prix sont doublés les 24/12, 25/12, 31/12 et 01/01.</li>
                <li>Pour toute demande de réservation moins de 24 heures avant votre prise en charge, veuillez appeler notre bureau au +32 490 197 914.</li>
                <li>Le droit belge est applicable à toutes ces conditions générales. Les conditions générales peuvent être modifiées à tout moment par spero-navette.be</li>
            </ol>
        </div>
    </article>
{% endblock %}
