{% extends 'base.html.twig' %}

{% block body %}
    <header class="masthead">
    </header>

    <article class="text-start p-md-4 container">

        <div class="p-md-3">
            <h5>Je n'arrive pas à faire ma demande de réservation en ligne, quelles sont les alternatives ?</h5>
            <p class="text-muted">Si votre réservation en ligne pose problème, vous pouvez nous joindre directement par téléphone au +32 490 197 914 ou par email à info@spero-navette.be entre 9h et 17h du lundi au vendredi et le samedi de 9h à 17h.</p>
        </div>
        <div class="p-md-3">
            <h5>Comment puis-je être certain(e) que mon chauffeur sera bien présent lors de mon départ ?</h5>
            <p class="text-muted">Spero Navette vous envoie systématiquement un sms la veille de votre départ vous confirmant l’heure de prise en charge pour le lendemain. Vous pouvez également nous appeler au +32 490 197 914 ou nous envoyer un email à info@spero-navette.be afin d’être rassuré.</p>
        </div>
        <div class="p-md-3">
            <h5>Je pars demain, je n’ai pas de moyen de locomotion pour me rendre à l’aéroport, est-il encore possible de réserver une navette ?</h5>
            <p class="text-muted">Si votre réservation est faite moins de 48h avant le départ, il y a lieu de prendre contact avec notre numéro d’urgence +32 490 197 914 afin de voir si nous pouvons encore trouver un chauffeur disponible pour vous.</p>
        </div>
        <div class="p-md-3">
            <h5>Je souhaite voyager avec des personnes ne vivant pas sous mon toit et j’aimerais que le chauffeur fasse plusieurs étapes avant d’aller à l’aéroport, est-ce possible ?</h5>
            <p class="text-muted">Oui, tout à fait.</p>
        </div>
        <div class="p-md-3">
            <h5>L’horaire de mon vol départ a changé, que dois-je faire ?</h5>
            <p class="text-muted">Dès que vous avez connaissance de ce changement d’horaire, merci de communiquer les détails de ces modifications au plus vite par téléphone au +32 490 197 914 ou nous envoyer un email à info@spero-navette.be</p>
        </div>
        <div class="p-md-3">
            <h5>Mon vol retour a du retard, que dois-je faire ?</h5>
            <p class="text-muted">A priori, rien. Nos chauffeurs ont des outils leurs permettant de se tenir informés quant à d’éventuels retards. Par contre, si vous savez que votre vol aura plusieurs heures de retard ou que les informations reçues font état d’une situation exceptionnelle (ex. grèves, mauvais temps empêchant le décollage, etc…), l’idéal est de nous prévenir. Plus il y a de communication entre le chauffeur et vous, moins il peut y avoir de souci !</p>
        </div>
        <div class="p-md-3">
            <h5>Je souhaite emmener mon animal de compagnie avec moi, est-ce possible ?</h5>
            <p class="text-muted">Oui, tout à fait. Cependant, l’animal sera transporté de la même façon que dans un avion, à savoir, dans sa cage et dans le compartiment arrière. Pour plus d’informations, veuillez prendre contact avec nous par email à info@spero-navette.be</p>
        </div>
        <div class="p-md-3">
            <h5>Où sommes-nous censés attendre notre chauffeur à notre arrivée à l’aéroport ?</h5>
            <p class="text-muted">Aéroport Bruxelles National<i class="fa fa-arrow-right fa-1x fa-fw"></i>  En arrivant dans le hall des arrivées sur votre droite, devant le restaurant Quick. </p>
            <p class="text-muted">Aéroport de Gosselies<i class="fa fa-arrow-right fa-1x fa-fw"></i>Devant les ascenseurs au niveau du parking express. </p>
            <p class="text-muted">Gare de Bruxelles-Midi<i class="fa fa-arrow-right fa-1x fa-fw"></i>Devant le comptoir d’enregistrement AirFrance, côté rue de France. </p>
            <p class="text-muted">Gare de Lille Europe<i class="fa fa-arrow-right fa-1x fa-fw"></i>Devant le Sheraton, à la sortie à main gauche. </p>
            <p class="text-muted">Aéroport de Lille Lesquin<i class="fa fa-arrow-right fa-1x fa-fw"></i>Au dépose minute des départs. </p>
            <p class="text-muted">Aéroport de Paris Charles de Gaulle<i class="fa fa-arrow-right fa-1x fa-fw"></i>Au dépose minute des départs. </p>
            <p class="text-muted">Aéroport de Paris Orly<i class="fa fa-arrow-right fa-1x fa-fw"></i>Dans le hall des arrivées. </p>
            <p class="text-muted">Aéroport d’Oostende<i class="fa fa-arrow-right fa-1x fa-fw"></i>Dans le hall des arrivées. </p>
            <p class="text-muted">Aéroport de Liège<i class="fa fa-arrow-right fa-1x fa-fw"></i>Dans le hall des arrivées. </p>
            <p class="text-muted">Aéroport d’Amsterdam-Schiphol<i class="fa fa-arrow-right fa-1x fa-fw"></i>Au dépose minute des départs. </p>
        </div>
        <div class="p-md-3">
            <h5>Comment allons-nous retrouver notre chauffeur à notre retour ?</h5>
            <p class="text-muted">Le chauffeur vous attendra devant le point de RDV en fonction de l’aéroport/gare avec une pancarte Spero Navette avec votre nom inscrit dessus. De nouveau, rester joignable est le maître mot !</p>
        </div>
        </article>
{% endblock %}
